@{Layout = "_Layout";}


@using System.Security.Claims

<h2>Welcome to the employee portal:</h2>
<hr>
@if(User.Identity.IsAuthenticated)
{
  <p>Welcome @User.Identity.Name!</p>
  @using (Html.BeginForm("LogOff", "Account"))
  {
    <input type="submit" class="btn-block" value="Log Out">
  }
  else
  {
    <p>@Html.ActionLink("Log In", "Login")</p>
    <p>@Html.ActionLink("Register a new employee", "Register")</p>
  }
}