@{Layout = "_Layout";}
@model SweetAndSavory.Models.Flavor
@using System.Security.Claims

<h2>These treats can be made with this flavor!</h2>

@if(@Model.Treats.Count > 0)
{
  @foreach (var join in Model.Treats)
  {
    <p>@join.Treat.Name</p>
  }
}
@if(User.Identity.IsAuthenticated)
{
  <p>@Html.ActionLink("Add this flavor option to a treat", "AddTreat", new {id = Model.FlavorId})</p>
  <p>@Html.ActionLink("Edit this Flavor", "Edit", new {id = Model.FlavorId})</p>
  <p>@Html.ActionLink("Delete this Flavor", "Delete", new {id = Model.FlavorId})</p>
}